
.container-fuild{
    background: #fff;
}

.main-menu{
    background-image:url(../images/slider-img42.jpg);
    height: 600px;
}

.navbar-header{
    height: 60px;
}
.logo img{
    padding-top: 11px;
    margin-left: 99px;
    max-width: 109px;
}
.navbar-nav li{
    margin: 0 5px;
    font-size: 12px;
}
.navbar-right{
    padding-right: 130px;
}

.navbar-default .navbar-nav>li>a{
    color: #fff;
}
.navbar-nav li a{
    font-size: 11px;
    padding-top: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
}
.fa-shopping-cart{
    padding-top: 22px;
}
.search-button{
    padding-top: 22px;
}
